/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Typography
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Typography
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow|PT+Serif+Caption|PT+Serif|PT+Sans+Caption|Arvo);
/* -----------------------------------------
   Shared Styles
----------------------------------------- */

html { color: #333; background: #f8f8f8;}
body {color: #333; background: #f8f8f8;}

h1, h2, h3,h4, h5, h6 {
	font-family: 'Arvo', Georgia, Times, serif;
	color: #666;
}

h4.title { color:#cac08f;}

.style-button, .style-button:hover {
	background: #DECC99;
	border: 1px solid #d6c1a6;
	color: #313851;
}

p {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	text-align: justify;
	text-justify: inter-word;
	color: #313851;
}

article { margin-top: 15px !important;}

/* -----------------------------------------
   WIDGET
----------------------------------------- */
.widget {margin: 15px 0 !important;}

/* -----------------------------------------
   GALLERY
----------------------------------------- */
a.gallery, a.gallery:hover{
	color: #666;
	display: block;
}
.gallery:last-child {
	border-bottom: 1px solid #ebebeb;
}

.gallery .gl-title {
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
	font-family: 'PT Sans Caption'
}

.gallery .gl-author {
	font-size: 11px;
	padding: 0px 5px 5px 5px;
	color: #aaa;
}

.gallery-main {
	height: 600px;
}
/* -----------------------------------------
   TWITTER
----------------------------------------- */
.twitterFeed { font-size: 13px; font-family: 'PT Sans Caption'}

.twitterHeader { height: 35px; margin-bottom: 10px; border-bottom: 1px solid #ebebeb;}

.twitterFeed * a, .twitterFeed * a:hover{
	color: #444;
	text-decoration: none;
	font-size: 16px;
	display: block;
	float: left;
	line-height: 23px;
}


.twitterBody  { clear: left;}

.tweetTime {float: left; clear: right;}

.twitterFeed * p {
	font-size: 13px;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.twitterFeed * img {
	width: 24px;
	height: 24px;
	margin-right: 5px;
	float: left;
}

.twitterFeed .twitterBody a, .twitterFeed .twitterBody a:hover{
	font-size: 14px;
}

.twitterBody ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.twitterBody ul li{
	padding-left: 14px; 
}

.twitterBody .tweetName {
	display: inline-block;
	line-height: 23px;
}

.twitterFeed .twitterBody img {
	width: 24px;
	height: 24px;
	margin-right: 5px;
}

.twitterRow a, .twitterRow a:hover{
	font-size: 13px;
	float: none;
	display: inline;
}

/* -----------------------------------------
   Advert
----------------------------------------- */
.sidebar-ads {
	border-top: 1px solid #ebebeb;
	
}

.sidebar-ads:last-child {
	border-bottom: 1px solid #ebebeb;
}

.sidebar-ads .sb-ads-title {
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
}

.sidebar-ads .sb-ads-url {
	font-size: 11px;
	padding: 0px 5px 5px 5px;
	color: #aaa;
}

.sb-ads-content p { 
	font-size: 13px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.sb-ads-content {
	height: 72px;
	font-size:13px;
}

/* -----------------------------------------
   Main
----------------------------------------- */
footer.page-main {height: 180px;background: #fff; margin-top: 10px; border-top: 1px solid #ebebeb;} 
header.page-main {height: 80px;background: #f7f7f7;}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


